.contacts {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  max-width: 846px;
  margin-top: 48px;
  gap: 250px;
}

.contacts__title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts__input {
  box-sizing: border-box;
  width: $width-input;
  height: 48px;
  border-radius: 40px;
  padding: 0 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: $color-input-act;
  background-color: $color-input-bg;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s;

  &::placeholder {
    color: $color-input-def;
    transition: color 0.3s;
  }

  &:hover {
    border-color: #d5d7de;
    cursor: pointer;

    &::placeholder {
      color: $color-input-act;
    }
  }

  &:focus {
    border-color: $color-input-act;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px $color-input-bg inset;
    -webkit-text-fill-color: $color-input-act;
    box-shadow: 0 0 0 1000px $color-input-bg inset;
    caret-color: auto;
    transition: background-color 5000s ease-in-out 0;
  }
}

.contacts__textarea {
  width: $width-input;
  min-height: 150px;
  border-radius: 16px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  transition: color 0.3s;
  padding: 14px 16px;
  font-family: $font-main;

  background-color: $color-input-bg;
  color: $color-input-act;

  &::placeholder {
    color: $color-input-def;
    transition: color 0.3s;
  }

  &:hover {
    border-color: #d5d7de;
    cursor: pointer;

    &::placeholder {
      color: $color-input-act;
    }
  }

  &:focus {
    border-color: $color-input-act;
  }
}

.contacts__button {
  width: $width-input;
  margin-top: 32px;
  border-radius: 40px;
  padding: 15px 132px;

  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  transition:
    box-shadow 0.3s,
    transform 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: 1px 4px 16px 0 $color-shadow-btn;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 1px 4px 16px 0 $color-shadow-btn;
    transform: scale(0.98);
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts__label {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.contacts__value-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 8px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);

  }
}
