.icon {
  width: $size-icons;
  height: $size-icons;
  font-weight: 900;
  background-repeat: no-repeat;
  background-position: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.phone__link-container {
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.phone__link {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;

  opacity: 0;
  transform: translateX(20px);
  transition:
    opacity 0.3s,
    transform 0.3s;
  text-decoration: none;
  white-space: nowrap;
}

.phone-box {
  display: flex;
  gap: 20px;
  align-items: center;

  &:hover {
    .phone__link-container {
      width: auto;
    }

    .phone__link {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.icon--phone {
  background-image: url(../icons/icon-phone.svg);
  display: block;
}

.icon--menu {
  background-image: url(../icons/icon-burger.svg);
  display: block;
}

.icon--close {
  background-image: url(../icons/icon-close.svg);
  display: block;
}
