@import 'variables';
@import 'page';
@import 'header';
@import 'menu';
@import 'nav';
@import 'icons';
@import 'bikes';
@import 'details';
@import 'contact';

body {
  margin: 0;
  background-color: $color-main;
  font-family: $font-main;
  color: white;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}

.move-free__container {
  margin-top: 120px;
}

.move__container {
  max-width: 1020px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 411px 1fr;
  gap: 24px;
}

.move__container-title {
  margin: 0;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.move__container-subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
}

.footer {
  padding: 0;
  margin: 164px 0 0;
}

.footer__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}


// Tablet


@media (max-width: 744px) {
  .menu {
    width: 744px;
    left: auto;
    right: 0;
  }

  .top-bar {
    padding-inline: 0;
  }

  .header__title {
    font-size: 64px;
  }

  .move__container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .move__container-subtitle {
    text-align: left;
  }

  .bikes__card {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin-left: 17%;
  }

  .details__container {
    margin: 120px 72px 0;
  }

  .contacts__content {
    margin-left: 72px;
    justify-content: left;
    gap: 24px;
  }

  .footer__image {
    width: 100%;
  }
}


// Phone


@media (max-width: 320px) {
  .menu {
    width: 322px;
  }

  .header__bottom {
    padding: 0 0 88px;
    white-space: nowrap;
  }

  .header__title {
    font-size: 36px;
  }

  .move__container {
    display: flex;
    flex-direction: column;
  }

  .move__container-title {
    text-align: left;
    font-size: 32px;
  }

  .move__container-subtitle {
    text-align: left;
    font-size: 23px;
  }

  .compare__title {
    font-size: 32px;
  }

  .bikes__card {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .card__image {
    width: 100%;
  }

  .details__container {
    margin: 92px auto 0;
  }

  .details__title {
    font-size: 32px;
    text-align: center;
  }

  .advantages__images {
    grid-template-columns: 1fr 1fr;
  }

  .advantages__images--rev {
    grid-template-columns: 1fr 1fr;
  }

  .advantages__content {
    max-width: 100%;
  }

  .button__advantages {
    width: 100%;
    padding-inline: 48px;
  }

  .contacts {
    margin-top: 80px;
  }

  .contacts__content {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }

  .contacts__title {
    font-size: 32px;
  }

  .contacts__input {
    max-width: 270px;
  }

  .contacts__textarea {
    max-width: 270px;
  }

  .contacts__button {
    max-width: 270px;
    padding-inline: 48px;
  }

  .contacts__info {
    margin-top: 38px;
  }

  .footer {
    margin: 120px 0 0;
  }
}
