// fonts
$font-main: 'Poppins', sans-serif;

// colors
$color-main: #1d1d1d;
$color-input-bg: #f8f8fa;
$color-input-act: #292929;
$color-input-def: #7e7e83;
$color-shadow-btn: #e8e8f066;

// size
$size-icons: 32px;
$width-input: 411px;
